@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.welcome{
  background:rgb(115, 45, 246) ;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: auto;
}

.about{
  background-color: rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: auto;
}

.projects{
  background:rgb(115, 45, 246) ;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: auto;
}

.contact{
  background:rgb(79, 79, 79) ;
  background-repeat: no-repeat;
  background-size: cover;
  height: 25vh;
  width: auto;
}



